.inputs-wrapper {
    border: 1px solid black;
    font-family: Luminari, fantasy;
    font-weight: 400;
    font-stretch: expanded;
    font-size: 20px;
}

.StyllButton {
    width: 100px;
    height: 35px;
    margin: 5px;
    background-color: green;
    color: white;
}

.TextBox {
    width: 50%;
    height: 50px;
    border: #18dcff 1px solid;
    border-radius: 10px;
    background: none;
    text-align: center;
    margin: 5px auto 5px 5px;
}