.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px 85px 40px;
  grid-template-areas: "h" "t" "b";
  margin: 0px auto 0px auto;
}

.Title {
  grid-area: h;
}

.inputText {
  grid-area: t;
  background-color: skyblue;
  opacity: 40%;
  border-radius: 25px;
}

.sendMessage {
  grid-area: b;
}