.wrapper {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 75px 60px 40px;
  grid-template-areas: "h" "t" "b";
}

.Title {
  grid-area: h;
}

.inputText {
  grid-area: t;
  background-color: skyblue;
  opacity: 40%;
  border-radius: 25px;
}

.sendMessage {
  grid-area: b;
}