.wrapper {
  padding: 5px;
  border-bottom:1px solid green ;
  font-family: fantasy;
}

.left {
  text-align: left;
  color: red;
  padding-left:10px ;
}
.right{
  text-align: right;
  color: green;
  padding-right:10px ;
}