.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  /*Колонки  */
  grid-template-rows: 130px 1fr;
  grid-template-areas: "a p" "like p";
  margin-top: 10px;
}

img.avatar {
  grid-area: a;
  width: 185px;
  border-radius: 25px;
}

.post {
  grid-area: p;
  background-image: url("https://avatanplus.com/files/resources/mid/57092ba764097153fbd285f2.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

input.like {
  width: 75px;
  height: 40px;
  margin: 0px;
  border-radius: 25px;
  border: 1px solid #ff7675;
  color: #81ecec;
  background-color: black;
  font-size: 18px;
  grid-area: like;
}