.wrapper {
  display: grid;
  grid-template-columns: 80px 130px 1fr;
  /*Колонки  */
  grid-template-rows: 108px 1fr;
  grid-template-areas: "a a p" "like count p";
  margin-bottom: 10px;
}

img.avatar {
  grid-area: a;
  width: 185px;
  border-radius: 25px;
}

.post {
  grid-area: p;
  border-left: orangered solid 2px;
  padding-left: 10px;
}

input.buttonlike {
  grid-area: like;
}

input.buttonlike, .countLike {
  text-align: center;
  font-size: 18px;
  border: 1px solid #ff7675;
  max-width: 120px;
  max-height: 30px;
  border-radius: 25px;
  color: #81ecec;
  background-color: black;
  margin: auto 0px auto 0px;
}