.profile-wrapper{
    display: grid;
grid-template-columns: 350px 1fr;
grid-template-rows: 1fr;
  grid-template-areas: 
  "p i";
  background-color: khaki;
 
}
.photo{
  grid-area: p;
  height: 100%;
 text-align: center;
 
}
.photo img {
  width: 60%;
  margin-top: 40px;
}
.info{
  grid-area: i;
  margin: 10px;
  padding-left: 15px;
  border: 1px solid black;
}
