.wrapper {
    background-color: darkgreen;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 175px 1fr 1fr;
    grid-template-areas: "logo menu login";
}

.logo {
    margin-left: 25px;
    margin-top: 10px;
    grid-area: logo;
}

.headerMenu ul {
    grid-area: menu;
    margin: auto;
    padding-top: 45px;
}

.headerMenu li {
    font-family: Luminari, fantasy;
    font-weight: 400;
    font-stretch: expanded;
    padding: 7px;
    border-radius: 25px;
    font-size: 18px;
    display: inline-flex;
}
.loginBlock{
    grid-area: login;
}
.loginBlock a{
    width: 50px;
    float: right;
    margin: 5% 15%;
   
}
.loginBlock img{
    width: 75px;
    float: right;
    margin: 5% 15%;
}