.wrapper {
    background-color: darkgreen;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 175px 1fr;
    grid-template-areas: "logo menu";
}

.wrapper img {
    margin-left: 25px;
    margin-top: 10px;
    grid-area: logo;
}

.headerMenu ul {
    grid-area: menu;
    margin: auto;
    padding-top: 45px;
}

.headerMenu li {
    font-family: Luminari, fantasy;
    font-weight: 400;
    font-stretch: expanded;
    padding: 7px;
    border-radius: 25px;
    font-size: 18px;
    display: inline-flex;
}