.wrapper {
    background-color: darkgreen;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 180px 1fr 150px 150px;
    grid-template-areas: "logo menu list picture";
}

.logo {
    margin-left: 25px;
    margin-top: 10px;
    grid-area: logo;
}

.headerMenu ul {
    grid-area: menu;
    margin: auto;
    padding-top: 45px;
    float: left;
}

.headerMenu li {
    font-family: Luminari, fantasy;
    font-weight: 400;
    font-stretch: expanded;
    padding: 7px;
    border-radius: 25px;
    font-size: 18px;
    display: inline-flex;
}

.loginMenu {
    opacity: 1;
    visibility: visible;
}

.nonLoginMenu {
    visibility: hidden;
    opacity: 0;
}

.nonLoginMenu, .loginMenu {
    display: inline-table;
    background-color: black;
    grid-area: list;
    height: 50px;
    /* border: solid 1px rgb(211, 144, 1); */
    margin-top: 15px;
    transition: 1s;
    border-bottom: solid 2px rgb(211, 144, 1);
    border-top: solid 2px rgb(211, 144, 1);
    border-radius: 20px;

}

.loginMenu li, .nonLoginMenu li {
    width: 50px;
    color: gold;
    margin: auto 25px 0px -8px;
}

l.loginMenu li:hover, .nonLoginMenu li:hover {
    background-color: black;
    transition: 0.2s;
    border-color: crimson;
    color: crimson;
}

.loginMenu a {
    width: 50px;
    float: right;
    margin: 5% 15%;
}

.loginPict img {
    width: 65%;
    float: right;
    margin: 5% 15%;
    grid-area: picture;
}