.wrapper {
    display: grid;
    font-family: Luminari, fantasy;
    font-weight: 400;
    font-size: 19px;
    max-width: 200px;
}

a {
    text-decoration: none;
}

li {
    margin: 5px 10px 15px auto;
    list-style-type: none;
    border: rgb(211, 144, 1) solid 2px;
    border-radius: 25px;
    padding: 3px 10px 3px 10px;
}

a.active {
    color: gold;
    transition: 1.5s;
}

li:hover {
    background-color: black;
    transition: 0.2s;
    border-color: crimson;
    color: crimson;
}