.App {
    display: grid;
    grid-template-rows: 165px 1fr;
    grid-template-columns: 1fr 7fr;
    grid-gap: 5px;
    grid-template-areas: " h h " " s c "
}

.Header {
    grid-area: h;
}

.Sidebar {
    grid-area: s;
}

.Content {
    grid-area: c;
}

a{
    text-shadow: red 0 0 5px;
   
}
a:link {
    color: chartreuse;
}

a:visited {
    color: white;
  
}

a:active {
    color: slateblue;
}