.App {
    display: grid;
    grid-template-rows: 165px 1fr;
    grid-template-columns: 0.6fr 3fr;
    grid-template-areas: "h h" "s c";
    background-color: darkgreen;
}

.appHeader {
    grid-area: h;
    display: grid;
}

.appSidebar {
    grid-area: s;
}

.appContent {
    background-color: darkgreen;
    grid-area: c;
}


a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: slateblue;
}