.App {
    display: grid;
    grid-template-rows: 165px 1fr;
    grid-template-columns: 0.6fr 3fr;
    grid-template-areas: "h h" "s c"
}
.appHeader {
    grid-area: h;
    display: grid;
}

.appSidebar {
    grid-area: s;
}

.appContent {
    grid-area: c;
}

a {
    text-shadow: red 0 0 5px;
}

a:link {
    color: chartreuse;
}

a:visited {
    color: white;
}

a:active {
    color: slateblue;
}